body {
  position: relative;
  width: 410px;
  height: 491px;
  background-image: url("../src/img/Extension_panneau_1.png");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  color: #fff;
  z-index: -2;
  font-family: 'Baloo Chettan 2',
    cursive;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.7) 50%);
  z-index: -1;
}

* {
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

span,
h1,
p {
  cursor: default;
}

::selection {
  background: transparent;
  color: inherit;
}

::-moz-selection {
  background: transparent;
  color: inherit;
}

.setting {
  z-index: 100;
  font-size: 1.2rem;
  position: absolute;
  right: 5px;
  top: 5px;
  color: grey;
  cursor: pointer;
}

.setting:hover {
  animation: rotate .8s;
  color: white;
}

.setting.active {
  color: white;
}

header {
  position: relative;
  text-align: center;
  height: 115px;
  line-height: 100px;
}

header img {
  height: 100%;
}

header h1 {
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 35px;
  text-transform: uppercase;
}

.row {
  text-align: center;
}

.tab-choice {
  display: inline-block;
  width: 45%;
  height: 18px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  transition: border-bottom .2s;
}

.tab-choice-twitch:hover,
.tab-choice-twitch.active {
  border-bottom: 1px solid #6441a4;
  ;
}

.tab-choice.tab-choice-youtube:hover,
.tab-choice.tab-choice-youtube.active {
  border-bottom: 1px solid #c4302b;
}

.slider {
  position: relative;
  width: 410px;
  height: calc(491px - 135px);
  overflow: hidden;
}

.slider-case {
  text-align: center;
  margin-top: 20px;
  position: absolute;
  width: 410px;
  height: 100%;
  top: 0;
  left: 0;
  transition: left .5s;
}

.slider-setting {
  margin-top: 50px;
}

.slider-case:nth-child(2) {
  left: 410px;
}

.slider-case:nth-child(3) {
  left: 410px;
}

.slider #sliderTwitch img:hover,
.slider #sliderYoutube img:hover {
  filter: brightness(120%);
}

.row-img {
  text-align: center;
  padding-top: 20px;
}

.row-img img {
  width: 320px;
  height: 180px;
  border: 1px solid rgba(255, 255, 255, .2);
  transition: filter .2s;
}

.status {
  position: relative;
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  color: rgba(255, 255, 255, .8);
  padding-left: calc((410px - 322px) / 2);
}

.twitch .status {
  margin-top: 7px;
}

.youtube .status {
  margin-top: -5px;
}

.live-video {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.live-video_btn {
  position: absolute;
  background-color: #9147FF;
  color: #fff;
  text-transform: uppercase;
  right: -83px;
  bottom: 15px;
  padding: 5px 10px;
  font-size: 15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: right ease-in-out .3s;
  cursor: pointer;
}

.live-video_btn svg {
  transform: scale(1.3);
  margin-right: 10px;
  font-size: 15px;
}

.live-video:hover .live-video_btn {
  right: 0;
}

.circle {
  position: relative;
  bottom: -1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 50%;
  margin-right: 8px;
}

p {
  color: #fff;
  font-size: 17px;
  text-align: center;
  margin: 0 10px;
}

.title {
  width: 320px;
  margin: -10px auto 0;
  line-height: 20px;
}

.social {
  position: absolute;
  bottom: 45px;
  width: 100%;
  font-size: 25px;
}

.social svg {
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px;
  margin: 0 3px;
  transition: color .3s;
  transition: background-color .3s;
}

.fa-twitter,
.fa-steam {
  font-size: 20px;
}

.social svg:hover {
  color: #fff;
}

.fa-twitter:hover {
  background-color: #1A91DA;
}

.twitch .fa-youtube:hover {
  background-color: #FF0000;
}

.fa-discord:hover {
  background-color: #7289DA;
}

.fa-twitch:hover {
  background-color: #9147FF;
}

.fa-instagram:hover {
  background-color: #E1447A;
}

.fa-facebook:hover {
  background-color: #4267B2;
}

.fa-steam:hover {
  color: #fff;
  background-color: #000;
}

.recentVideo img {
  width: 324px;
  height: 192px;
  position: relative;
  left: -2px;
}

.recentVideo_thumbnail {
  position: relative;
  width: 320px;
  height: 190px;
  margin: auto;
  overflow: hidden;
  border: 1px solid grey;
}

#recentVideo_time {
  font-weight: 600;
  font-size: 13px;
  position: absolute;
  bottom: 7px;
  left: 13px;
  padding: 5px 9px 3px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.recentVideo a:hover #recentVideo_btn {
  right: 0px;
}

#recentVideo_btn {
  position: absolute;
  background-color: #c4302b;
  color: #fff;
  text-transform: uppercase;
  right: -83px;
  bottom: 7px;
  padding: 5px 10px;
  font-size: 15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: right ease-in-out .3s;
  cursor: pointer;
}

#recentVideo_btn .fa-youtube {
  transform: scale(1.3);
  margin-right: 10px;
  font-size: 15px;
}

#recentVideo_title {
  margin: 0 auto;
  text-overflow: ellipsis;
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 2px;
}

.videos {
  margin-top: 3px;
}

.videos .videos_bloc {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0 8px;
  width: 120px;
  height: 70px;
  overflow: hidden;
}

.videos img {
  position: relative;
  width: 124px;
  height: 70px;
  right: 2px;
  border: 1px solid rgba(255, 255, 255, .2);
}